.screen {
  color: #fff;
  width: 80%;
  border-bottom: 50px solid rgb(255, 160, 100);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  font-size: 25px;
}
.gheDaDat {
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 3px solid #ffa500;
  background: #ffa500;
  margin: 3px;
}
.gheDangChon {
  color: #000;
  border: 3px solid #6dee6d;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #6dee6d;
  margin: 3px;
}
.gheChuaDat {
  color: #000;
  border: 3px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 3px;
}
.setWidthSo {
  width: 55px;
}
.setWidthButton {
  width: 50px;
  line-height: normal;
}

.hangGhe {
  height: 60px;
  line-height: 55px;
}
